.pick-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--Purple-200);
  border-radius: 7px;
  margin-bottom: 1.8rem;
  padding: 1.6rem 2.5rem;
}

.pick-item-container:hover {
  border: 1.3px solid var(--Purple-600);
  transition: border 0.5 ease;
}

.pick-item-focus {
  border: 1.3px solid var(--Purple-600);
  background-color: var(--Blue-100);
}

.checkbox-txt-container {
  display: flex;
}

.checkbox-txt-container input {
  margin-right: 3rem;
}

.checkbox-txt-container .txt-container {
  line-height: 1.2;
}
.checkbox-txt-container .txt-container p {
  font-weight: var(--md);
  color: var(--Blue-950);
}

.checkbox-txt-container .txt-container span {
  font-size: 1.4rem;
  color: var(--Grey-500);
}

.pick-item-container {
  color: var(--Purple-600);
}

.back-btn {
  background: none;
  border: none;
  color: var(--Grey-500);
  font-weight: var(--md);
  cursor: pointer;
}

.back-btn:hover {
  color: var(--Blue-950);
}

@media (max-width: 42rem) {
  footer {
    max-width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
  }

  .btn-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
