.section-container {
  max-width: 500px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
   gap: 10px;
}

.plan-container {
  border: 1px solid var(--Purple-200);
  border-radius: 7px;
  padding: 1.4rem 5rem 1.4rem 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

}


.plan-container:hover {
  border: 1px solid var(--Purple-600);
  transition: border 0.5s ease;
}

.plan-focus {
  border: 1px solid var(--Purple-600);
  background-color: var(--Blue-100);
}
.plan-container img {
  width: 100%;
  max-width: 44px;
  margin-bottom: 5rem;
}

.plan-txt-container {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}

.plan-txt-container .plan-name {
  font-weight: var(--md);
  color: var(--Blue-950);
}

.plan-txt-container span {
  font-size: 1.4rem;
  color: var(--Grey-500);
}

.plan-txt-container .month-free {
  font-size: 1.2rem;
  font-weight: var(--md);
  color: var(--Blue-950);
  white-space: nowrap;
  display: none;
}


.plan-time-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: var(--Blue-100);
  border-radius: 7px;
}

.plan-time-btn-container p {
  color: var(--Grey-500);
  font-weight: var(--md);
  margin: 1.4rem 0;
}

.plan-time-btn-container button {
  background-color: var(--Blue-950);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  position: relative;
  cursor: pointer;
}

.plan-time-btn-container button::before {
  content: '';
  padding: 8px;
  border-radius: 50%;
  background-color: var(--White);
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  left: 0;
  transition: left 0.3s ease;
}

.plan-time-btn-container button.month::before {
  left: 3px;
}
.plan-time-btn-container button.year::before {
  left: 22px;
}

#selected-time {
  color: var(--Blue-950);
}

footer {
  margin-top: 7rem;
  max-width: 500px;
}

.back-btn {
  background: none;
  border: none;
  color: var(--Grey-500);
  font-weight: var(--md);
  cursor: pointer;
}

.back-btn:hover {
  color: var(--Blue-950);
  transition: color 0.5 ease;
}

@media (max-width:64rem) {
  .plan-container{
    padding: 1.4rem 3.5rem 1.4rem 1.4rem;
}
}

@media (max-width: 42rem) {
  .section-container {
    max-width: 100%;
  }
  .main-container {
    flex-direction: column;
    margin-bottom: 0rem;
    gap: 6px;
  }

  .plan-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 1rem 0 1rem 2rem;
    margin-bottom: 1rem;
  }

  .plan-container img {
    max-width: 35px;
    margin: 0rem 2rem 0 0;
  }

  footer {
    max-width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
  }

  .btn-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
