@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  /* PRIMARY COLOR */

  --Blue-950: hsl(213, 96%, 18%);
  --Purple-600: hsl(243, 100%, 62%);
  --Blue-300: hsl(228, 100%, 84%);
  --Blue-200: hsl(206, 94%, 87%);
  --Red-500: hsl(354, 84%, 57%);

  /* Neutral COLOR */
  --Grey-500: hsl(231, 11%, 63%);
  --Purple-200: hsl(229, 24%, 87%);
  --Blue-100: hsl(218, 100%, 97%);
  --Blue-50: hsl(231, 100%, 99%);
  --White: hsl(0, 100%, 100%);

  /* FONT WEIGHTS */
  --sm: 400;
  --md: 500;
  --big: 700;
}

/* RESET  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

#sidebar {
  background-image: url(../images/bg-sidebar-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 4rem 1rem;
  width: 100%;
  min-height: 22rem;
}

#sidebar > .sidebar-content-container {
  display: flex;
  align-items: start;
}

.step-counter {
  color: var(--White);
  font-weight: var(--md);
  padding: 0.75rem 1.2rem;
  border: 1px solid var(--White);
  border-radius: 50%;
  text-align: center;
}

.step-counter.active {
  background-color: var(--Blue-300);
  border: none;
  color: var(--Blue-950);
}

.step-txt-container {
  display: none;
}
