.section-container{
    grid-row: 1/3;
   align-self: center;
   
}

.section-item-container{
    max-width: 430px;
}
.thank-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.thank-container img{
    width: 100%;
    max-width: 70px;
}

.thank-container h1{
    color: var(--Blue-950);
}

.thank-container p{
    text-align: center;
    color: var(--Grey-500);
}

@media (max-width: 42rem) {
    .section-container{
    grid-row: 2/3;
   align-self: center;
}

.section-item-container{
    max-width: 80%;
    padding: 7rem;
}

}